<div class="tab-general product-tab">
	<md-form-field>
		<input mdInput placeholder="Product Name *">
	</md-form-field>

	<span [ngStyle]="{'color': 'rgba(0, 0, 0, 0.54)'}"> Description </span>
	<angular-tinymce> </angular-tinymce>

	<md-form-field>
		<input mdInput placeholder="Meta Tag Title *">
	</md-form-field>

	<md-form-field>
		<textarea mdInput placeholder="Meta Tag Description"></textarea>
	</md-form-field>

	<md-form-field>
		<textarea mdInput placeholder="Meta Tag Keywords"></textarea>
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Product Tags">
	</md-form-field>
</div>