<div class="tab-design product-tab">
	<md-table [dataSource]="dataSource">
		<ng-container mdColumnDef="stores">
			<md-header-cell *mdHeaderCellDef> Stores </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index">
				{{ element.stores }}
			</md-cell>
		</ng-container>
		<ng-container mdColumnDef="layout_override">
			<md-header-cell *mdHeaderCellDef> Layout Override </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index">
				<select class="form-control">
					<option *ngFor="let item of layoutList" value="{{item}}"> {{ item }} </option>
				</select>
			</md-cell>
		</ng-container>
		<md-header-row *mdHeaderRowDef="displayedColumns"> </md-header-row>
		<md-row *mdRowDef="let row; columns: displayedColumns;"> </md-row>
	</md-table>
</div>