.btn-refresh {
	min-width: initial;
    padding: 0px 8px;
}

.filter-buttons > .mat-button {
	border: 1px solid #ddd;
	margin-left: 10px;
}

.mat-select {
	margin-top: 1.2em;
    margin-bottom: 1.8em;
    padding-top: 0px;
}

.mat-table {
	border: 1px solid #ddd;
}