<md-sidenav-container [ngStyle]="{'height': '100%'}">
	<seller-header> </seller-header>

	<md-sidenav-container id="leftSideNavContainer" [ngStyle]="{'height': 'calc(100% - 64px)', 'background': 'none'}">
		<md-sidenav #leftsidenav mode="side" opened="true" [ngStyle]="{'width': '240px'}">
			<seller-sidenav [page_alias]="page_alias"> </seller-sidenav>
		</md-sidenav>
		<div class="admin-content" [ngStyle]="{'padding': '25px'}">
			<router-outlet> </router-outlet>
		</div>
	</md-sidenav-container>
</md-sidenav-container>