<section class="panel">
    <div class="panel-body">
        <ul class="clearfix prospective-spark-bar">
            <li class="pull-left spark-bar-label">
                <span class="bar-label-value"> $18887</span>
                <span>Prospective Label</span>
            </li>
            <li class="pull-right">
                <div class="sparkline" data-type="bar" data-resize="true" data-height="40" data-width="90%" data-bar-color="#f6b0ae" data-bar-width="5" data-data="[300,200,500,700,654,987,457,300,876,454,788,300,200,500,700,654,987,457,300,876,454,788]"></div>
            </li>
        </ul>
    </div>
</section>