.chart-meta {
    margin: 0px;
    padding-left: 0;
    list-style: none;
}

.daily-visit {
    text-align: center;
}

.daily-visit-spark {
    padding: 10px 0px;
}

.visit-chart-value {
    font-size: 18px;
    color: #3acdc7;
    font-weight: 600;
    padding-top: 10px;
}

.visit-chart-title {
    font-size: 16px;
    padding-top: 10px;
    color: #ccc;
}

.visit-chart-title i {
    color: #3acdc7;
}