<section class="panel">
    <div class="panel-body">
        <div class="top-stats-panel">
            <div class="daily-visit">
                <h4 class="widget-h">Daily Visitors</h4>
                <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">

                </div>
                <ul class="chart-meta clearfix">
                    <li class="pull-left visit-chart-value">3233</li>
                    <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
                </ul>
            </div>
        </div>
    </div>
</section>