<h1> Add Address </h1>

<form #addressForm="ngForm" (submit)="addAddress(addressForm)">
	<md-form-field>
		<input mdInput placeholder="First Name*">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Last Name*">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Company">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Address 1*">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Address 2">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="City*">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Post Code*">
	</md-form-field>

	<md-select placeholder="Country*">
		<md-option value="Country 1"> Country 1 </md-option>
		<md-option value="Country 2"> Country 2 </md-option>
		<md-option value="Country 3"> Country 3 </md-option>
		<md-option value="Country 4"> Country 4 </md-option>
		<md-option value="Country 5"> Country 5 </md-option>
	</md-select>

	<md-select placeholder="Region/State*">
		<md-option value="State 1"> State 1 </md-option>
		<md-option value="State 2"> State 2 </md-option>
		<md-option value="State 3"> State 3 </md-option>
		<md-option value="State 4"> State 4 </md-option>
		<md-option value="State 5"> State 5 </md-option>
	</md-select>
	
	<br>

	<span> Default Address </span> <br> 
	<md-checkbox> Yes </md-checkbox>
	<md-checkbox> No </md-checkbox> <br> <br>

	<button md-button class="btn-primary"> Add Address </button>
</form>
