.mat-input-container {
	label {
		color: #fff;
	}
}

.mat-select {
	margin-top: 1.5em;
	margin-bottom: 1.8em;

	span {
		color: #fff;
	}
}

.mat-toolbar {
	font-size: 16px;
	line-height: 1;
	display: table;
	padding: 0px;

	.mat-toolbar-layout {
		display: table-cell;
		vertical-align: middle;

		.mat-toolbar-row {
			height: inherit;
			justify-content: space-between;
		}
	}
}