<md-toolbar color="accent">
    <button md-icon-button fxHide.gt-sm (click)="openLeftSidenav()"><md-icon md-font-set="material-icons">menu</md-icon></button>
	<img style="max-width: 40%;" src="assets/img/logo.jpg" alt="">
	<div fxLayout="column" fxHide.sm fxHide.xs fxLayoutAlign="right">
        <div fxLayout="row">
            <button md-button *ngFor="let button of headerButtons">
                <md-icon>{{ button.icon }}</md-icon>
                {{ button.text }}
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <form name="form" class="search-form">
                <div fxLayout="row" fxLayoutAlign="end center">
                	<md-input-container [ngStyle]="{'color': '#fff'}">
                		<input mdInput placeholder="Search*" [formControl]="searchControl">
                		<md-error *ngIf="searchControl.hasError('required')">
                			This is <strong> required </strong>
                		</md-error>
                	</md-input-container>
                    <md-select placeholder="All Categories" floatPlaceholder="never">
                        <md-option *ngFor="let category of categories" [value]="category.value">
                            {{ category.viewValue }}
                        </md-option>
                    </md-select>
                	<button md-icon-button><md-icon md-font-set="material-icons">search</md-icon></button>
                </div>
            </form>
            <button md-button>
                <md-icon md-font-set="material-icons">local_grocery_store</md-icon>
                0 Item - 0.00$
            </button>
        </div>
    </div>
    <div fxLayout="row" fxHide.gt-sm>
        <button md-icon-button><md-icon>local_grocery_store</md-icon></button>
        <button md-icon-button><md-icon (click)="openRightSidenav()">menu</md-icon></button>
    </div>
</md-toolbar>