.vendor-description {
	background: #41a9ed;
    padding: 10px;
    margin: 10px;

    .inner-wrapper {
		border: 1px solid #fff;
	    padding: 10px;
	    color: #fff;
	    font-size: 18px;
    }
}

.vendor-symbol {
	padding: 40px;
	text-align: center;
	text-transform: uppercase;
	background: #03f9cf;
	font-size: 30px;
	color: #fff;
}