<section class="panel">
    <header class="panel-heading">
        Chat <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
            <a href="javascript:;" class="fa fa-cog"></a>
            <a href="javascript:;" class="fa fa-times"></a>
        </span>
    </header>
    <div class="panel-body">
        <div class="chat-conversation">
            <ul class="conversation-list">
                <li class="clearfix">
                    <div class="chat-avatar">
                        <img src="assets/img/chat-user-thumb.png" alt="male">
                        <i>10:00</i>
                    </div>
                    <div class="conversation-text">
                        <div class="ctext-wrap">
                            <i>John Carry</i>
                            <p>
                                Hello!
                            </p>
                        </div>
                    </div>
                </li>
                <li class="clearfix odd">
                    <div class="chat-avatar">
                        <img src="assets/img/chat-user-thumb-f.png" alt="female">
                        <i>10:00</i>
                    </div>
                    <div class="conversation-text">
                        <div class="ctext-wrap">
                            <i>Lisa Peterson</i>
                            <p>
                                Hi, How are you? What about our next meeting?
                            </p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="chat-avatar">
                        <img src="assets/img/chat-user-thumb.png" alt="male">
                        <i>10:00</i>
                    </div>
                    <div class="conversation-text">
                        <div class="ctext-wrap">
                            <i>John Carry</i>
                            <p>
                                Yeah everything is fine
                            </p>
                        </div>
                    </div>
                </li>
                <li class="clearfix odd">
                    <div class="chat-avatar">
                        <img src="assets/img/chat-user-thumb-f.png" alt="female">
                        <i>10:00</i>
                    </div>
                    <div class="conversation-text">
                        <div class="ctext-wrap">
                            <i>Lisa Peterson</i>
                            <p>
                                Wow that's great
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-xs-9">
                    <input type="text" class="form-control chat-input" placeholder="Enter your text">
                </div>
                <div class="col-xs-3 chat-send">
                    <button type="submit" class="btn btn-default">Send</button>
                </div>
            </div>
        </div>
    </div>
</section>