<div class="tab-data" [ngStyle]="{'padding': '30px'}">
	<md-form-field>
		<input mdInput placeholder="Parent">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Filters">
	</md-form-field>

	<div class="filters">

	</div>

	<span [ngStyle]="{'color': 'rgba(0, 0, 0, 0.54)'}"> Stores </span>
	<div class="stores">
		<md-checkbox> Default </md-checkbox>
	</div>

	<md-form-field>
		<input mdInput placeholder="SEO URL">
	</md-form-field>

	<image-selector> </image-selector>

	<md-checkbox> Top </md-checkbox>

	<md-form-field>
		<input mdInput placeholder="Columns">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Sort Order">
	</md-form-field>

	<md-select placeholder="Status">
		<md-option value="Enabled"> Enabled </md-option>
		<md-option value="Disabled"> Disabled </md-option>
	</md-select>
</div>