<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">list</md-icon> 
		<span> Order List </span>
	</h3>
</div>

<md-table #table [dataSource]="dataSource" mdSort [ngStyle]="{'margin-top': '10px'}">

	<!-- Order ID Column -->
	<ng-container cdkColumnDef="order_id">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Order ID </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.order_id}} </md-cell>
	</ng-container>

	<!-- Customer Column -->
	<ng-container cdkColumnDef="customer">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Customer </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.customer}} </md-cell>
	</ng-container>

	<!-- Seller Column -->
	<ng-container cdkColumnDef="seller">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Seller </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.seller}} </md-cell>
	</ng-container>

	<!-- Status Column -->
	<ng-container cdkColumnDef="status">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Status </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.status}} </md-cell>
	</ng-container>

	<!-- Total Column -->
	<ng-container cdkColumnDef="total">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Total </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.total}} </md-cell>
	</ng-container>

	<!-- Date Added Column -->
	<ng-container cdkColumnDef="date_added">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Date Added </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.date_added}} </md-cell>
	</ng-container>

	<!-- Date Modified Column -->
	<ng-container cdkColumnDef="date_modified">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Date Modified </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.date_modified}} </md-cell>
	</ng-container>

	<!-- Action Column -->
	<ng-container cdkColumnDef="action">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row"> 
			<button class="action-button" md-button [ngStyle]="{'background': '#1e91cf'}"><md-icon>create</md-icon></button>
		</md-cell>
	</ng-container>

	<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
	<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<md-paginator
	[length]="tableData.data.length"
	[pageIndex]="0"
	[pageSize]="5"
	[pageSizeOptions]="[5, 10, 25]">
</md-paginator>

