.action-button {
    border-radius: 5px;
    padding: 0px 5px;
    min-width: initial;
    margin: 2px;
    color: #fff;
    font-size: 1px;

    .mat-icon {
        font-size: 15px;
        line-height: 15px;
        height: 15px;
    }
}

.category-image {
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.filters, .stores {
    min-height: 100px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 20px;
    background: #eee;
}

.popover {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.popover-arrow {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    margin-top: -8px;
    margin-left: -9px;
    background: #fff;
    border-right: none;
    border-top: none;
}

.tab-general, .tab-data {
    .mat-form-field {
        display: block;
    }

    .mat-select {
        display: block;
        margin-bottom: 20px;
    }

    .mat-form-field, .mat-select {
        width: 100%;
    }
}

.tab-fees {
    .label-plus, .label-percent {
        padding: 0px 10px;
    }

    .label-title {
        width: 150px;
        text-align: right;
        margin-right: 30px;
    }
}

textarea {
	height: 100px;
}

.title {
    border-top: 2px solid #777;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin-top: 30px;

    h3 {
        margin-top: 10px;
    }
}