.monthly-stats {
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    margin: -15px -15px 15px -15px;
    padding: 15px;

    h4 {
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0px;
        padding: 5px 0px 10px 0px;    
    }
}

.pink {
    background-color: #9972b5 !important;
}

.sparkline {
    text-align: center;
}

.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}

.tab-content > .active {
    display: block;
    visibility: visible;
}