admin-products-form {
	.product-tab {
		padding: 30px;
	}

	.tab-general, .tab-data, .tab-links {
	    .mat-form-field {
	        display: block;
	    }

	    .mat-select {
	        display: block;
	        margin-bottom: 20px;
	    }

	    .mat-form-field, .mat-select {
	        width: 100%;
	    }
	}
}