<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">create</md-icon> 
		<span> Add Customer </span>
	</h3>
</div>

<form #buyersForm="ngForm" (ngSubmit)="saveBuyer()" [formGroup]="form" class="form-content" [ngStyle]="{'margin': '30px'}">
	<md-select placeholder="Customer Group" [formControl]="customer_group">
		<md-option *ngFor="let customerGroup of customerGroups" value="{{customerGroup._id}}"> {{ customerGroup.name }} </md-option>
	</md-select>

	<md-form-field>
		<input mdInput placeholder="First Name*" [formControl]="first_name">
		<md-error *ngIf="first_name.hasError('required')">
			First name is <strong> required </strong>
		</md-error>
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Last Name*" [formControl]="last_name">
		<md-error *ngIf="last_name.hasError('required')">
			Last name is <strong> required </strong>
		</md-error>
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="E-Mail*" [formControl]="email">
		<md-error *ngIf="email.hasError('required')">
			Email is <strong> required </strong>
		</md-error>
		<md-error *ngIf="email.hasError('pattern')">
			Please enter a valid email address
		</md-error>
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Telephone*" [formControl]="telephone">
		<md-error *ngIf="telephone.hasError('required')">
			Telephone is <strong> required </strong>
		</md-error>
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Fax" [formControl]="fax">
	</md-form-field>

	<md-form-field>
		<input type="password" mdInput placeholder="Password*" [formControl]="password">
		<md-error *ngIf="password.hasError('required')">
			Password is <strong> required </strong>
		</md-error>
	</md-form-field>

	<md-form-field>
		<input type="password" mdInput placeholder="Confirm*" [formControl]="confirm_password">
		<md-error *ngIf="confirm_password.hasError('required')">
			Please confirm your password
		</md-error>
	</md-form-field>

	<md-select placeholder="Newsletter" [formControl]="newsletter">
		<md-option value="1"> Enabled </md-option>
		<md-option value="0"> Disabled </md-option>
	</md-select>

	<md-select placeholder="Status" [formControl]="status">
		<md-option value="1"> Enabled </md-option>
		<md-option value="0"> Disabled </md-option>
	</md-select>

	<md-select placeholder="Approved" [formControl]="approved">
		<md-option value="1"> Yes </md-option>
		<md-option value="0"> No </md-option>
	</md-select>

	<md-select placeholder="Safe" [formControl]="safe">
		<md-option value="1"> Yes </md-option>
		<md-option value="0"> No </md-option>
	</md-select>

	<div fxLayout="row" fxLayoutAlign="end center">
		<button md-button class="submit-button"> Save Buyer </button>
	</div>
</form>