<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">list</md-icon> 
		<span> Customer List </span>
	</h3>
</div>

<div class="filter-panel" [ngStyle]="{'margin-top': '20px'}">
	<div fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="25" [ngStyle]="{'padding': '0px 10px'}">
			<md-form-field class="full-width">
				<input mdInput #nameFilter placeholder="Customer Name">
			</md-form-field>
		</div>

		<div fxFlex="25" [ngStyle]="{'padding': '0px 10px'}">
			<md-select class="full-width" placeholder="Customer Group" #groupFilter>
				<md-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]" value="Group{{i}}">
					Group {{i}}
				</md-option>
			</md-select>
		</div>

		<div fxFlex="25" [ngStyle]="{'padding': '0px 10px'}">
			<md-select class="full-width" placeholder="Approved" #approveFilter>
				<md-option value="Yes"> Yes </md-option>
				<md-option value="No"> No </md-option>
			</md-select>
		</div>

		<div fxFlex="25" [ngStyle]="{'padding': '0px 10px'}">
			<md-form-field class="full-width">
				<input mdInput [mdDatepicker]="picker" placeholder="Date Added" #dateFilter>
				<md-datepicker-toggle mdSuffix [for]="picker"> </md-datepicker-toggle>
				<md-datepicker #picker> </md-datepicker>
			</md-form-field>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="25" [ngStyle]="{'padding': '0px 10px'}">
			<md-form-field class="full-width">
				<input mdInput #emailFilter placeholder="E-Mail">
			</md-form-field>
		</div>

		<div fxFlex="25" [ngStyle]="{'padding': '0px 10px'}">
			<md-select placeholder="Status" #statusFilter class="full-width">
				<md-option value="Enabled"> Enabled </md-option>
				<md-option value="Disabled"> Disabled </md-option>
			</md-select>
		</div>

		<div fxFlex="25" [ngStyle]="{'padding': '0px 10px'}">
			<md-form-field class="full-width">
				<input mdInput #ipFilter placeholder="IP">
			</md-form-field>
		</div>

		<div fxFlex="25" fxLayout="row" fxLayoutAlign="end center" [ngStyle]="{'padding': '0px 10px'}">
			<button md-button [ngStyle]="{'background': '#1e91cf'}"> <md-icon>autorenew</md-icon> Filter </button>
		</div>
	</div>
</div>

<div class="action-buttons" [ngStyle]="{'margin-top': '30px'}">
	<a [routerLink]="['/admin/buyers/create']"><button class="action-button" md-button [ngStyle]="{'background': '#1e91cf'}"><md-icon>add</md-icon></button></a>
	<button class="action-button" md-button [ngStyle]="{'background': '#f56b6b'}"><md-icon>delete</md-icon></button>
</div>

<md-table #table [dataSource]="dataSource" mdSort [ngStyle]="{'margin-top': '10px'}">

	<!-- Customer Name Column -->
	<ng-container cdkColumnDef="customer_name">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Customer Name </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.first_name + ' ' + row.last_name}} </md-cell>
	</ng-container>

	<!-- Image Column -->
	<ng-container cdkColumnDef="image">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Image </md-header-cell>
		<md-cell *cdkCellDef="let row"> 
			<img class="avatar" src="assets/img/{{row.image}}">
		</md-cell>
	</ng-container>

	<!-- E-Mail Column -->
	<ng-container cdkColumnDef="email">
		<md-header-cell *cdkHeaderCellDef md-sort-header> E-Mail </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.email}} </md-cell>
	</ng-container>

	<!-- Customer Group Column -->
	<ng-container cdkColumnDef="customer_group">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Customer Group </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.customer_group.name}} </md-cell>
	</ng-container>

	<!-- Status Column -->
	<ng-container cdkColumnDef="status">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Status </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{statuses[row.status]}} </md-cell>
	</ng-container>

	<!-- IP Column -->
	<ng-container cdkColumnDef="ip">
		<md-header-cell *cdkHeaderCellDef md-sort-header> IP </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.ip}} </md-cell>
	</ng-container>

	<!-- Date Added Column -->
	<ng-container cdkColumnDef="date_added">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Date Added </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.created_at}} </md-cell>
	</ng-container>

	<!-- Action Column -->
	<ng-container cdkColumnDef="action">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row"> 
			<button class="action-button" md-button [ngStyle]="{'background': '#8fbb6c'}"><md-icon>thumb_up</md-icon></button>
			<button class="action-button" md-button [ngStyle]="{'background': '#5bc0de'}"><md-icon>lock</md-icon></button>
			<button class="action-button" md-button [ngStyle]="{'background': '#f38733'}"><md-icon>lock_open</md-icon></button>
			<a [routerLink]="['/admin/buyers/edit/' + row._id]">
				<button class="action-button action-button-create" md-button><md-icon>create</md-icon></button>
			</a>
		</md-cell>
	</ng-container>

	<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
	<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<md-paginator
	[length]="tableData.data.length"
	[pageIndex]="0"
	[pageSize]="5"
	[pageSizeOptions]="[5, 10, 25]">
</md-paginator>

