.mat-card {
	background: none;
	padding: 0px;

	.mat-card-title {
		font-size: 13px;
	    text-transform: uppercase;
	    color: #fff;
	    padding: 20px 20px 20px 30px;
	    margin: 0px;
	}

	.mat-list {
		padding: 0px;

		.mat-list-item {
			border-bottom: 1px solid #3c3c44;

			.avatar {
			    width: 30px;
			    height: 30px;
			    border-radius: 15px;
			    margin-right: 15px;
			}

			.progress-wrapper {
				height: 10px;
			    width: 100%;
			    background: #f0f2f7;
			    border-radius: 5px;
			    overflow: hidden;
			}
		}
	}
}

.search {
	width: calc(100% - 40px);
    margin: 20px;
    height: 35px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 10px;
    color: rgb(112, 112, 118);
    font-size: 12px;
}

.search:focus {
	box-shadow: none;
}