.btn-outline {
	border: 1px solid #aaa;
	border-radius: 4px;
}

.btn-primary {
	background: #1e91cf;
	color: #fff;
}

.mat-form-field {
    display: block;
}

.mat-select {
    display: block;
    margin-bottom: 20px;
}

.mat-form-field, .mat-select {
    width: 100%;
}

.mat-table {
	border: 1px solid #ddd;
}

.white-icon {
	color: #fff;
}