<div class="event-calendar clearfix">
    <div class="col-lg-7 calendar-block">
        <div class="cal1">
        </div>
    </div>
    <div class="col-lg-5 event-list-block">
        <div class="cal-day">
            <span>Today</span>
            Friday
        </div>
        <ul class="event-list">
            <li>Lunch with jhon @ 3:30 <a href="" class="event-close"><i class="ico-close2"></i></a></li>
            <li>Coffee meeting with Lisa @ 4:30 <a href="" class="event-close"><i class="ico-close2"></i></a></li>
            <li>Skypee conf with patrick @ 5:45 <a href="" class="event-close"><i class="ico-close2"></i></a></li>
            <li>Gym @ 7:00 <a href="" class="event-close"><i class="ico-close2"></i></a></li>
            <li>Dinner with daniel @ 9:30 <a href="" class="event-close"><i class="ico-close2"></i></a></li>

        </ul>
        <input type="text" class="form-control evnt-input" placeholder="NOTES">
    </div>
</div>