<div fxLayout="row">
	<div fxFlex="25">
		<admin-dashboard-monthly-expense> </admin-dashboard-monthly-expense>
	</div>
	<div fxFlex="25">
		<admin-dashboard-daily-visitors> </admin-dashboard-daily-visitors>
	</div>
	<div fxFlex="25">
		<admin-dashboard-top-advertise> </admin-dashboard-top-advertise>
	</div>
	<div fxFlex="25">
		<admin-dashboard-daily-sales> </admin-dashboard-daily-sales>
	</div>
</div>

<div fxLayout="row">
	<div fxFlex="66">
		<section class="panel">
		    <header class="panel-heading">
		        Earning Graph <span class="tools pull-right">
		            <a href="javascript:;" class="fa fa-chevron-down"></a>
		            <a href="javascript:;" class="fa fa-cog"></a>
		            <a href="javascript:;" class="fa fa-times"></a>
		        </span>
		    </header>
		    <div class="panel-body">
		        <admin-dashboard-earning-graph-morris> </admin-dashboard-earning-graph-morris>
		        <admin-dashboard-earning-graph-vector> </admin-dashboard-earning-graph-vector>
		    </div>
		</section>
	</div>

	<div fxFlex="34">
		<section class="panel">
		    <div class="panel-body">
		        <admin-dashboard-monthly-stats> </admin-dashboard-monthly-stats>
				<admin-dashboard-sell> </admin-dashboard-sell>
		    </div>
		</section>

		<admin-dashboard-prospective-label> </admin-dashboard-prospective-label>
		<admin-dashboard-weather> </admin-dashboard-weather>
	</div>
</div>

<div fxLayout="row">
	<admin-dashboard-mini-statistics class="full-width"> </admin-dashboard-mini-statistics>
</div>

<div fxLayout="row">
	<div fxFlex="66">
		<admin-dashboard-calendar> </admin-dashboard-calendar>
	</div>
	<div fxFlex="33">
		<admin-dashboard-chat> </admin-dashboard-chat>
	</div>
</div>

<div fxLayout="row">
	<admin-dashboard-statistics class="full-width"> </admin-dashboard-statistics>
</div>

<div fxLayout="row">
	<div fxFlex="50">
		<admin-dashboard-notification> </admin-dashboard-notification>
	</div>
	<div fxFlex="50">
		<admin-dashboard-latest-members> </admin-dashboard-latest-members>
	</div>
</div>