<div class="region-stats">
    <div class="row">
        <div class="col-md-7">
            <div class="region-earning-stats">
                This year total earning <span>$68,4545,454</span>
            </div>
            <ul class="clearfix location-earning-stats">
                <li class="stat-divider">
                    <span class="first-city">$734503</span>
                    Rocky Mt,NC
                </li>
                <li class="stat-divider">
                    <span class="second-city">$734503</span>
                    Dallas/FW,TX
                </li>
                <li>
                    <span class="third-city">$734503</span>
                    Millville,NJ
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <div id="world-map" class="vector-stat"> </div>
        </div>
    </div>
</div>