<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">list</md-icon> 
		<span> Products List </span>
	</h3>
</div>

<div class="filter-panel" [ngStyle]="{'margin-top': '20px'}">
	<div fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="33" [ngStyle]="{'padding': '0px 10px'}">
			<md-form-field class="full-width">
				<input mdInput #productNameFilter placeholder="Product Name">
			</md-form-field>
		</div>

		<div fxFlex="33" [ngStyle]="{'padding': '0px 10px'}">
			<md-form-field class="full-width">
				<input mdInput #priceFilter placeholder="Price">
			</md-form-field>
		</div>

		<div fxFlex="33" [ngStyle]="{'padding': '0px 10px'}">
			<md-select class="full-width" placeholder="Status" #statusFilter>
				<md-option *ngFor="let status of ['Enabled', 'Disabled']" value="{{status}}">
					{{ status }}
				</md-option>
			</md-select>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="33" [ngStyle]="{'padding': '0px 10px'}">
			<md-form-field class="full-width">
				<input mdInput #modelFilter placeholder="Model">
			</md-form-field>
		</div>

		<div fxFlex="33" [ngStyle]="{'padding': '0px 10px'}">
			<md-form-field class="full-width">
				<input mdInput #quantityFilter placeholder="Quantity">
			</md-form-field>
		</div>

		<div fxFlex="33" [ngStyle]="{'padding': '0px 10px'}">
			<md-select class="full-width" placeholder="Image" #imageFilter>
				<md-option *ngFor="let status of ['Enabled', 'Disabled']" value="{{status}}">
					{{ status }}
				</md-option>
			</md-select>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="end center" [ngStyle]="{'padding': '0px 10px'}">
		<button md-button [ngStyle]="{'background': '#1e91cf'}"> <md-icon>autorenew</md-icon> Filter </button>
	</div>
</div>

<div class="action-buttons" [ngStyle]="{'margin-top': '30px'}">
	<a [routerLink]="['/admin/emh-voucher/create']"><button class="action-button" md-button [ngStyle]="{'background': '#1e91cf'}"><md-icon>add</md-icon></button></a>
	<button class="action-button" md-button [ngStyle]="{'background': '#f56b6b'}"><md-icon>delete</md-icon></button>
</div>

<md-table #table [dataSource]="dataSource" mdSort [ngStyle]="{'margin-top': '10px'}">

	<!-- Seller Column -->
	<ng-container cdkColumnDef="image">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Image </md-header-cell>
		<md-cell *cdkCellDef="let row">
			<img class="product-image" src="{{row.image}}">
		</md-cell>
	</ng-container>

	<!-- E-Mail Column -->
	<ng-container cdkColumnDef="product_name">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Product Name </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.product_name}} </md-cell>
	</ng-container>

	<!-- Products Column -->
	<ng-container cdkColumnDef="model">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Model </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.model}} </md-cell>
	</ng-container>

	<!-- Sales Column -->
	<ng-container cdkColumnDef="price">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Price </md-header-cell>
		<md-cell *cdkCellDef="let row"> 
			<div *ngIf="row.discount_price" [ngStyle]="{'text-decoration': 'line-through'}"> {{ row.price }} </div>
			<div *ngIf="!row.discount_price"> {{ row.price }} </div>
			<div *ngIf="row.discount_price" [ngStyle]="{'color': '#f56b6b'}"> {{ row.discount_price }} </div>
		</md-cell>
	</ng-container>

	<!-- Earnings Column -->
	<ng-container cdkColumnDef="quantity">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Quantity </md-header-cell>
		<md-cell *cdkCellDef="let row"> 
			<span class="quantity"> {{row.quantity}} </span>
		</md-cell>
	</ng-container>

	<!-- Balance Column -->
	<ng-container cdkColumnDef="status">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Status </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.status}} </md-cell>
	</ng-container>

	<!-- Action Column -->
	<ng-container cdkColumnDef="action">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row"> 
			<button class="action-button" md-button [ngStyle]="{'background': '#1e91cf'}"><md-icon>create</md-icon></button>
		</md-cell>
	</ng-container>

	<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
	<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<md-paginator
	[length]="tableData.data.length"
	[pageIndex]="0"
	[pageSize]="5"
	[pageSizeOptions]="[5, 10, 25]">
</md-paginator>

