.bar-label-value {
	font-size: 20px;
	color: #666;
}

.prospective-spark-bar {
    margin: 0px;
    padding-left: 0;

    li {
    	padding: 20px 0px 20px 0px;
        list-style: none;
    }
}

.spark-bar-label span {
	display: block;
}