<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">create</md-icon> 
		<span> Add Weight Class </span>
	</h3>
</div>

<div class="content-wrapper">
	<form #lengthClassForm="ngForm" (ngSubmit)="saveWeightClass()" [formGroup]="form">
		<md-form-field>
			<input mdInput placeholder="Weight Title *" [formControl]="weight_title">
			<md-error *ngIf="weight_title.hasError('required')">
				Weight title is <strong> required </strong>
			</md-error>
		</md-form-field>

		<md-form-field>
			<input mdInput placeholder="Weight Unit *" [formControl]="weight_unit">
			<md-error *ngIf="weight_title.hasError('required')">
				Weight title is <strong> required </strong>
			</md-error>
		</md-form-field>

		<md-form-field>
			<input mdInput placeholder="Value" [formControl]="value">
		</md-form-field>

		<div fxLayout="row" fxLayoutAlign="end center">
			<button md-button class="submit-button"> Save Weight Class </button>
		</div>
	</form>
</div>