h3, p {
	color: #000;
}

.mat-raised-button {
	text-transform: uppercase;
	padding: 0px 10px;
	margin: 0px 5px;
}

form .mat-input-container {
	display: block;
}

.mat-list {
	.mat-icon {
		vertical-align: middle;
		margin-right: 30px;
	}

	.mat-list-item {
		color: #000;

		.mat-button {
			vertical-align: middle;
			text-transform: uppercase;
			text-align: left;

			p {
				margin: 0px;
			}
		}
	}
}