<div fxLayout.lt-lg="column" fxLayout.gt-md="row" class="color-primary">
    <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex.lt-md="100" fxFlex.gt-sm="40">
        <div fxLayout="column" fxFlex.xs="100" fxFlex.gt-xs="50" class="mat-padding">
            <h3>
                <md-icon>notifications</md-icon>
                EMH Alert
            </h3>
            <div fxLayout="column">
                <form name="form">
                    <p> Register now to get updates on promotions and coupons </p>
                    <md-input-container>
                        <input mdInput placeholder="Email*" [formControl]="emailFormControl">
                        <md-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong> required </strong>
                        </md-error>
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="Name">
                    </md-input-container>
                    <button md-button class="color-accent">
                        <md-icon>email</md-icon>
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
        <div fxLayout="column" fxFlex.xs="100" fxFlex.gt-xs="50" class="mat-padding">
            <h3>
                <md-icon>business_center</md-icon>
                Turn Your Passion Into a Business
            </h3>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button md-raised-button class="color-accent">
                    <md-icon>store</md-icon>
                    Open a Shop
                </button>
                <button md-raised-button class="color-accent-reverse">
                    Seller Login
                </button>
            </div>
            <h3>
                <md-icon>info</md-icon>
                Customer Service
            </h3>
            <md-list>
                <md-list-item *ngFor="let contact of contactData">
                    <button md-button class="full-size">
                        <md-icon> {{ contact.icon }} </md-icon>
                        <p class="inline"> {{ contact.text }} </p>
                    </button>
                </md-list-item>
            </md-list>
        </div>
    </div>

    <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex.lt-md="100" fxFlex.gt-sm="60">
        <div fxFlex.xs="100" fxFlex.gt-xs="33" class="mat-padding" *ngFor="let data of infData">
            <h3>
                <md-icon>{{ data.header.icon }}</md-icon>
                {{ data.header.text }}
            </h3>
            <md-list>
                <md-list-item *ngFor="let item of data.list">
                    <button md-button class="full-size">
                        <md-icon> {{ item.icon }} </md-icon>
                        <p class="inline"> {{ item.text }} </p>
                    </button>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>