.action-button {
	border-radius: 5px;
	padding: 0px 5px;
    min-width: initial;
    margin: 2px;
    color: #fff;
    font-size: 1px;

    .mat-icon {
		font-size: 15px;
		line-height: 15px;
		height: 15px;
    }
}

.avatar {
    height: 50px;
    border-radius: 5px;
}

.mat-cell {
    padding: 5px 0px;
}

.mat-select {
	margin-top: 1.2em;
    margin-bottom: 1.8em;
    padding-top: 0px;
}

.mat-table {
	border: 1px solid #ddd;
}