<md-tab-group fxLayout="column" fxLayoutAlign="end center" [selectedIndex]="selectedTab" (selectChange)="selectChange($event)">
	<md-tab (window:resize)="onResize()" *ngFor="let i of [1, 2, 3, 4, 5]" label="{{ i }}">
		<md-grid-list rowHeight="1:1" gutterSize="16" cols="{{cols}}">
			<md-grid-tile *ngFor="let vendor of vendors">
				<md-grid-tile-header>{{vendor}}</md-grid-tile-header>
				<img src="assets/img/product.jpg">
				<md-grid-tile-footer [ngStyle]="{'background-color': '#000'}"></md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
	</md-tab>
</md-tab-group>