<h1> My Wish List </h1>

<md-table #table [dataSource]="dataSource" mdSort [ngStyle]="{'margin-top': '10px'}">

	<!-- Image Column -->
	<ng-container cdkColumnDef="image">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Image </md-header-cell>
		<md-cell *cdkCellDef="let row">
			<img src="{{ row.image }}" height="80">
		</md-cell>
	</ng-container>

	<!-- Product Name Column -->
	<ng-container cdkColumnDef="product_name">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Product Name </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.product_name}} </md-cell>
	</ng-container>

	<!-- Model Column -->
	<ng-container cdkColumnDef="model">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Model </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.model}} </md-cell>
	</ng-container>

	<!-- Stock Column -->
	<ng-container cdkColumnDef="stock">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Stock </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.stock}} </md-cell>
	</ng-container>

	<!-- Unit Price Column -->
	<ng-container cdkColumnDef="unit_price">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Unit Price </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.unit_price}} </md-cell>
	</ng-container>

	<!-- Balance Column -->
	<ng-container cdkColumnDef="balance">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Balance <br> (Total/Available) </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.balance}} </md-cell>
	</ng-container>

	<!-- Action Column -->
	<ng-container cdkColumnDef="action">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row"> 
			<button class="action-button" md-button [ngStyle]="{'background': '#8fbb6c'}"><md-icon>shopping_cart</md-icon></button>
			<button class="action-button" md-button [ngStyle]="{'background': '#5bc0de'}"><md-icon>clear</md-icon></button>
		</md-cell>
	</ng-container>

	<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
	<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>