<form name="form" fxLayout="column" class="mat-padding" [ngStyle]="{'margin-bottom': '1em'}">
	<md-input-container>
		<input mdInput  placeholder="Search*" [formControl]="searchControl">
		<md-error *ngIf="searchControl.hasError('required')">
			This is <strong> required </strong>
		</md-error>
	</md-input-container>
	<md-select placeholder="All Categories" floatPlaceholder="never">
		<md-option *ngFor="let category of categories" [value]="category.value">
			{{ category.viewValue }}
		</md-option>
	</md-select>
	<button md-button><md-icon>search</md-icon>Search Product</button>
</form>
<md-list>
	<md-list-item *ngFor="let button of listButtons">
		<button md-button class="full-width">
			<md-icon> {{ button.icon }} </md-icon>
			<p class="inline"> {{ button.text }} </p>
		</button>
	</md-list-item>
</md-list>