<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">create</md-icon> 
		<span> Add Tax Class </span>
	</h3>
</div>

<div class="content-wrapper">
	<form #taxClassForm="ngForm" (ngSubmit)="saveTaxClass()" [formGroup]="form">
		<md-form-field>
			<input mdInput placeholder="Tax Class Title *" [formControl]="name">
		</md-form-field>

		<md-form-field>
			<input mdInput placeholder="Description *" [formControl]="description">
		</md-form-field>

		<div class="hidden" fxLayout="row" fxLayoutAlign="end center">
			<button md-button #saveButton class="submit-button"> Save Tax Class </button>
		</div>
	</form>

	<md-table [dataSource]="dataSource">
		<ng-container mdColumnDef="tax_rate">
			<md-header-cell *mdHeaderCellDef> Tax Rate </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index">
				<select *ngIf="!element.last" class="form-control" [(ngModel)]="taxRatesList[i].tax_rate">
					<option *ngFor="let taxRate of taxRates" value="{{taxRate._id}}"> {{taxRate.name}} </option>
				</select>
			</md-cell>
		</ng-container>
		<ng-container mdColumnDef="based_on">
			<md-header-cell *mdHeaderCellDef> Based On </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index">
				<select *ngIf="!element.last" class="form-control" [(ngModel)]="taxRatesList[i].based_on">
					<option value="1"> Shipping Address </option>
					<option value="2"> Payment Address </option>
					<option value="3"> Store Address </option>
				</select>
			</md-cell>
		</ng-container>
		<ng-container mdColumnDef="priority">
			<md-header-cell *mdHeaderCellDef> Priority </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index">
				<input *ngIf="!element.last" class="form-control" [(ngModel)]="taxRatesList[i].priority" placeholder="Priority">
			</md-cell>
		</ng-container>
		<ng-container mdColumnDef="action">
			<md-header-cell *mdHeaderCellDef [ngStyle]="{'flex': 'none', 'width': '60px'}"> </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index" [ngStyle]="{'flex': 'none', 'width': '60px'}">
				<button md-button type="button" (click)="addRow()" class="action-button" *ngIf="element.last" [ngStyle]="{'background': '#f56b6b'}">
					<md-icon [ngStyle]="{'color': '#fff'}">add_circle</md-icon>
				</button>
				<button md-button type="button" (click)="removeRow(i)" class="action-button" *ngIf="!element.last" [ngStyle]="{'background': '#1e91cf'}">
					<md-icon [ngStyle]="{'color': '#fff'}">remove_circle</md-icon>
				</button>
			</md-cell>
		</ng-container>

		<md-header-row *mdHeaderRowDef="displayedColumns"> </md-header-row>
		<md-row *mdRowDef="let row; columns: displayedColumns;"> </md-row>
	</md-table>

	<div fxLayout="row" fxLayoutAlign="end center">
		<button md-button class="submit-button" (click)="submitForm()"> Save Tax Class </button>
	</div>
</div>