.dimension span {
	line-height: 63.5px;
}

.icon-button {
	min-width: initial;
	width: 36px;
	height: 36px;
	padding: 0px;
}

.mat-cell {
	padding: 10px;
}

h4 {
	text-align: center;
    margin-top: 40px;
}	