.mini-stat {
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;

    .green {
        background: #aec785;
    }

    .orange {
        background: #fa8564;
    }

    .pink {
        background: #a48ad4;
    }

    .tar {
        background: #1fb5ac;
    }
}

.mini-stat-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    background: #eee;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    color: #fff;
}

.mini-stat-info {
    font-size: 12px;
    padding-top: 2px;

    span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }
}