<section class="panel">
    <div class="panel-body">
        <div class="top-stats-panel">
            <div class="gauge-canvas">
                <h4 class="widget-h">Monthly Expense</h4>
                <canvas width=160 height=100 id="gauge"></canvas>
            </div>
            <ul class="gauge-meta clearfix">
                <li id="gauge-textfield" class="pull-left gauge-value"></li>
                <li class="pull-right gauge-title">Safe</li>
            </ul>
        </div>
    </div>
</section>