<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">create</md-icon> 
		<span> Add Seller Group </span>
	</h3>
</div>

<div class="content-wrapper">
	<md-tab-group>
		<md-tab>
			<admin-seller-groups-tab-general> </admin-seller-groups-tab-general>
		</md-tab>
		<md-tab>
			<admin-seller-groups-tab-comissions-fees> </admin-seller-groups-tab-comissions-fees>
		</md-tab>
		<md-tab>
			<admin-seller-groups-tab-badges> </admin-seller-groups-tab-badges>
		</md-tab>
	</md-tab-group>
</div>