<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">list</md-icon> 
		<span> Easy Language Editor(v1.4) </span>
	</h3>
</div>

<div class="action-buttons" [ngStyle]="{'margin-top': '30px'}">
	<a [routerLink]="['/admin/language-editor/english/create']"><button class="action-button" md-button [ngStyle]="{'background': '#1e91cf'}"><md-icon>add</md-icon></button></a>
	<button class="action-button" md-button [ngStyle]="{'background': '#f56b6b'}"><md-icon>delete</md-icon></button>
</div>

<md-table #table [dataSource]="dataSource" mdSort [ngStyle]="{'margin-top': '10px'}">

	<!-- Module Name Column -->
	<ng-container cdkColumnDef="module_name">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Module Name </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.module_name}} </md-cell>
	</ng-container>

	<!-- Action Column -->
	<ng-container cdkColumnDef="action">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row">
			<button md-button class="action-button" [ngStyle]="{'background': '#95b75d', 'color': '#95b75d'}">
				<md-icon [ngStyle]="{'color': '#fff'}">add_circle</md-icon>
			</button>
			<button md-button class="action-button" [ngStyle]="{'background': '#1fb5ad'}"><md-icon>create</md-icon></button>
		</md-cell>
	</ng-container>

	<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
	<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<md-paginator
	[length]="tableData.data.length"
	[pageIndex]="0"
	[pageSize]="5"
	[pageSizeOptions]="[5, 10, 25]">
</md-paginator>

