<div class="login-wrapper" fxLayout="row">
	<div fxFlex.lt-md="0" class="login-intro">
		<img class="logo" src="assets/img/logo.jpg">
		<h2 [ngStyle]="{'color': '#000', 'font-size': '20px'}">
			Welcome to the Manage System <br>
			<small [ngStyle]="{'color': '#000', 'font-size': '75%'}">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nism erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
			</small>
		</h2>
	</div>
	<div class="form-login" fxFlex.lt-md="100">
		<router-outlet name="login"> </router-outlet>
	</div>
</div>