<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">list</md-icon> 
		<span> Partners </span>
	</h3>
</div>

<div fxLayout="column" fxLayoutAlign="start center">
	<md-form-field>
		<input mdInput placeholder="Banner Name">
	</md-form-field>

	<md-select placeholder="Status">
		<md-option value="Enabled"> Enabled </md-option>
		<md-option value="Disabled"> Disabled </md-option>
	</md-select>
</div>

<md-table #table [dataSource]="dataSource" mdSort [ngStyle]="{'margin-top': '10px'}">

	<!-- Title Column -->
	<ng-container cdkColumnDef="title">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Title </md-header-cell>
		<md-cell *cdkCellDef="let row; let i = index">
			<input *ngIf="!row.last" class="form-control" [(ngModel)]="partnersList[i].title" placeholder="Title">
		</md-cell>
	</ng-container>

	<!-- Link Column -->
	<ng-container cdkColumnDef="link">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Link </md-header-cell>
		<md-cell *cdkCellDef="let row; let i = index">
			<input *ngIf="!row.last" class="form-control" [(ngModel)]="partnersList[i].link" placeholder="Link">
		</md-cell>
	</ng-container>

	<!-- Image Column -->
	<ng-container cdkColumnDef="image">
		<md-header-cell *cdkHeaderCellDef md-sort-header [ngStyle]="{'flex': 'none', 'width': '120px'}"> Image </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row" [ngStyle]="{'flex': 'none', 'width': '120px'}">
			<div *ngIf="!row.last" class="image" fxLayout="row" fxLayoutAlign="start center">
				<img width="100" height="100" src="{{ row.image }}" (click)="togglePopover($event)">
				<div class="popover hidden" role="tooltip">
					<div class="popover-arrow"> </div>
					<div class="popover-content">
						<input type="file" id="imgInput" (change)="readURL($event)" style="display:none" accept="image/*"/> 
						<button md-button class="action-button" [ngStyle]="{'background': 'rgb(30, 145, 207)'}" (click)="uploadImage($event)"> <md-icon>create</md-icon> </button>
						<button md-button class="action-button" [ngStyle]="{'background': 'rgb(245, 107, 107)'}" (click)="removeImage($event)"> <md-icon>delete</md-icon> </button>
					</div>
				</div>
			</div>
		</md-cell>
	</ng-container>

	<!-- Sort Order Column -->
	<ng-container cdkColumnDef="sort_order">
		<md-header-cell *cdkHeaderCellDef md-sort-header [ngStyle]="{'flex': 'none', 'width': '100px'}"> Sort Order </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row; let i = index" [ngStyle]="{'flex': 'none', 'width': '100px'}">
			<input *ngIf="!row.last" class="form-control" [(ngModel)]="partnersList[i].sort_order" placeholder="Sort Order">
		</md-cell>
	</ng-container>

	<!-- Action Column -->
	<ng-container cdkColumnDef="action">
		<md-header-cell *cdkHeaderCellDef md-sort-header [ngStyle]="{'flex': 'none', 'width': '40px'}"> </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row; let i = index" [ngStyle]="{'flex': 'none'}">
			<button md-button *ngIf="row.last" class="icon-button" (click)="addRow()" [ngStyle]="{'background': '#1e91cf', 'color': '#1e91cf'}">
				<md-icon [ngStyle]="{'color': '#fff'}">add_circle_outline</md-icon>
			</button>
			<button md-button *ngIf="!row.last" class="icon-button" (click)="removeRow(i)" [ngStyle]="{'background': '#f56b6b', 'color': '#f56b6b'}">
				<md-icon [ngStyle]="{'color': '#fff'}">remove_circle_outline</md-icon>
			</button>
		</md-cell>
	</ng-container>	

	<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
	<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
