<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">create</md-icon> 
		<span> New transaction </span>
	</h3>
</div>

<form #transactionsForm="ngForm" (ngSubmit)="saveTransaction()" [formGroup]="form" class="form-content" [ngStyle]="{'padding': '30px'}">
	<md-select placeholder="From" [formControl]="from">
		<md-option *ngFor="let seller of sellers" value="{{seller._id}}"> {{ seller.general.nickname }} ( {{ seller.general.user ? seller.general.user.first_name + ' ' + seller.general.user.last_name : seller.general.first_name + ' ' + seller.general.last_name }} ) </md-option>
	</md-select>

	<md-select placeholder="To" [formControl]="to">
		<md-option *ngFor="let seller of sellers" value="{{seller._id}}"> {{ seller.general.nickname }} ( {{ seller.general.user ? seller.general.user.first_name + ' ' + seller.general.user.last_name : seller.general.first_name + ' ' + seller.general.last_name }} ) </md-option>
	</md-select>

	<md-form-field>
		<input mdInput placeholder="Amount*" [formControl]="amount">
		<md-error *ngIf="amount.hasError('required')">
			This field is <strong> required </strong>
		</md-error>
	</md-form-field>

	<md-form-field>
		<textarea mdInput placeholder="Description" [formControl]="description"></textarea>
	</md-form-field>

	<div fxLayout="row" fxLayoutAlign="end center">
		<button md-button class="submit-button"> Save Transaction </button>
	</div>
</form>