seller-profile {

	.active-status {
		background-color: #e7f3d5;
	    border: 1px solid #c5ceaa;
	    padding: 10px;
	    border-radius: 5px;
	    margin-bottom: 20px;

		.mat-icon {
	    	color: #73c16f;
	    	margin-right: 10px;
		}
	}

	h4 span {
		color: #01D8B6;
	}

	.select-logo {
		margin-top: 16px;

		div {
			color: rgba(0, 0, 0, 0.54);
			margin-bottom: 10px;
		}
	}

	.store-for {
		margin: 16px 0px;

		label {
			margin-right: 10px;
		}
	}

	.textarea {
		margin-top: 16px;

		div {
			color: rgba(0, 0, 0, 0.54);
		}
	}
}