<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">list</md-icon> 
		<span> Filters List </span>
	</h3>
</div>

<div class="action-buttons" [ngStyle]="{'margin-top': '30px'}">
	<a [routerLink]="['/admin/filters/create']"><button class="action-button" md-button [ngStyle]="{'background': '#1e91cf'}"><md-icon>add</md-icon></button></a>
	<button class="action-button" md-button [ngStyle]="{'background': '#f56b6b'}"><md-icon>delete</md-icon></button>
</div>

<md-table #table [dataSource]="dataSource" mdSort [ngStyle]="{'margin-top': '10px'}">

	<!-- Filter Group Column -->
	<ng-container cdkColumnDef="name">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Filter Group Name </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
	</ng-container>

	<!-- Sort Order Column -->
	<ng-container cdkColumnDef="sort_order">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Sort Order </md-header-cell>
		<md-cell *cdkCellDef="let row"> {{row.sort_order}} </md-cell>
	</ng-container>

	<!-- Action Column -->
	<ng-container cdkColumnDef="action">
		<md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
		<md-cell fxLayout="row" *cdkCellDef="let row">
			<a [routerLink]="['/admin/filters/edit/' + row._id]">
				<button class="action-button action-button-create" md-button><md-icon>create</md-icon></button>
			</a>
		</md-cell>
	</ng-container>

	<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
	<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<md-paginator
	[length]="tableData.data.length"
	[pageIndex]="0"
	[pageSize]="5"
	[pageSizeOptions]="[5, 10, 25]">
</md-paginator>

