<div class="title">
	<h3 fxLayout="row" fxLayoutAlign="start center">
		<md-icon [ngStyle]="{'margin-right': '10px'}">create</md-icon> 
		<span> Add Stock Status </span>
	</h3>
</div>

<div>
	<form #stockStatusForm="ngForm" (ngSubmit)="saveStockStatus()" [formGroup]="form">
		<md-form-field>
			<input mdInput placeholder="Stock Status Name*" [formControl]="name">
			<md-error *ngIf="name.hasError('required')">
				This field is <strong> required </strong>
			</md-error>
		</md-form-field>

		<div fxLayout="row" fxLayoutAlign="end center">
			<button md-button class="submit-button"> Save Stock Status </button>
		</div>
	</form>
</div>