<div fxLayout.lt-lg="column" fxLayout.gt-md="row" class="color-primary">
    <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex.lt-md="100" fxFlex.gt-sm="40">
        <div fxLayout="column" fxFlex.xs="100" fxFlex.gt-xs="50" class="mat-padding">
            <h3>
                <md-icon>notifications</md-icon>
                EMH Alert
            </h3>
            <div fxLayout="column">
                <form name="form">
                    <p> Register now to get updates on promotions and coupons </p>
                    <md-input-container>
                        <input mdInput placeholder="Email*" [formControl]="emailFormControl">
                        <md-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong> required </strong>
                        </md-error>
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="Name">
                    </md-input-container>
                    <button md-button class="color-accent">
                        <md-icon>email</md-icon>
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
        <div fxLayout="column" fxFlex.xs="100" fxFlex.gt-xs="50" class="mat-padding">
            <h3>
                <md-icon>business_center</md-icon>
                Turn Your Passion Into a Business
            </h3>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button md-raised-button class="color-accent">
                    <md-icon>store</md-icon>
                    Open a Shop
                </button>
                <button md-raised-button class="color-accent-reverse">
                    Seller Login
                </button>
            </div>
            <h3>
                <md-icon>info</md-icon>
                Customer Service
            </h3>
            <md-list>
                <md-list-item>
                    <button md-button>
                        <md-icon>email</md-icon>
                        <p> Contact Us </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>help</md-icon>
                        <p> Help </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>question_answer</md-icon>
                        <p> FAQs </p>
                    </button>
                </md-list-item>
            </md-list>
        </div>
    </div>

    <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex.lt-md="100" fxFlex.gt-sm="60">
        <div fxFlex.xs="100" fxFlex.gt-xs="33" class="mat-padding">
            <h3>
                <md-icon>info</md-icon>
                Information
            </h3>
            <md-list>
                <md-list-item>
                    <button md-button>
                        <md-icon>chrome_reader_mode</md-icon>
                        <p> About Equality Mode House </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>chrome_reader_mode</md-icon>
                        <p> Delivery Information </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>verified_user</md-icon>
                        <p> Privacy Policy </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>verified_user</md-icon>
                        <p> Terms & Conditions </p>
                    </button>
                </md-list-item>
            </md-list>
        </div>
        <div fxFlex.xs="100" fxFlex.gt-xs="33" class="mat-padding">
            <h3>
                <md-icon>share</md-icon>
                Stay Connected
            </h3>
            <md-list>
                <md-list-item>
                    <button md-button>
                        <md-icon>face</md-icon>
                        <p> Facebook </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>face</md-icon>
                        <p> Youtube </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>forum</md-icon>
                        <p> Our Community </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>group</md-icon>
                        <p> Emh Private Daily Profiles </p>
                    </button>
                </md-list-item>
            </md-list>
        </div>
        <div fxFlex.xs="100" fxFlex.gt-xs="33" class="mat-padding">
            <h3>
                <md-icon>account_circle</md-icon>
                My Account
            </h3>
            <md-list>
                <md-list-item>
                    <button md-button>
                        <md-icon>account_circle</md-icon>
                        <p> My Account </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>history</md-icon>
                        <p> Order History </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>favorite</md-icon>
                        <p> Wish List </p>
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button>
                        <md-icon>new_releases</md-icon>
                        <p> Newsletter </p>
                    </button>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>

<div>
    <h3> Our Referrer Partners: </h3>
</div>

<ngx-slick class="carousel" [config]="slideConfig" class="color-primary">
    <div ngxSlickItem *ngFor="let i of [1, 2, 3, 4, 5, 6]"> <img src="assets/img/partner.png" width="100%"> </div>
</ngx-slick>

<div class="color-primary-accent">www.equalitymodehouse.com is the first online shopping mail and fully dedicated to fashion</div>
<div class="color-primary-accent">ở đây thêm cái đồng hồ lấy log giờ server</div>

<md-toolbar class="color-accent">
    <h3 class="color-accent"> Copyrights <md-icon>copyright</md-icon> Economics 2017. All Right Reserved. </h3>
</md-toolbar>