.admin-content {
	padding: 15px;
}

#leftSideNavContainer {
	height: calc(100% - 80px);
}

.mat-sidenav-container {
	height: 100%;
	background: none;
}

.sidenav {
	width: 240px;
}

.sidenav-button {
	display: none;
}