/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-teal);
$primary-text: mat-palette($mat-teal, 50);
$accent: mat-palette($mat-grey, 900);
$warn: mat-palette($mat-red);
$accent-reverse: mat-palette($mat-grey, 50);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

$light-theme: mat-light-theme($primary, $accent, $warn);
admin-login, admin {
	@include angular-material-theme($light-theme);
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
}

.color-primary {
	background-color: mat-color($primary);
	color: mat-color($primary-text);
}

.color-primary-accent {
	background-color: mat-color($primary);
	color: mat-color($accent);
}

.color-accent {
	background-color: mat-color($accent);
	color: mat-color($accent-reverse) !important;
}

.color-accent-reverse {
	background-color: mat-color($accent-reverse);
	color: mat-color($accent) !important;
}

.full-width {
	width: 100% !important;
}

.full-height {
	height: 100% !important;
}

.full-size {
	width: 100% !important;
	height: 100% !important;
}

.inline {
	display: inline;
}



a {
	color: inherit;
}

.mat-sidenav::-webkit-scrollbar {
	width: 0px;
}

.mat-ink-bar {
	display: none;
}

.mat-padding {
	padding: 8px;
}

admin {
	admin-leftnav .mat-list {
		padding-top: 0px;

		.mat-list-item .mat-list-item-content {
			padding: 0px;
			display: flex;
			flex-direction: column;
			height: initial;
			min-height: 48px;
		}

		.mat-list-item.selected > .mat-list-item-content > a > .mat-button {
			background: #000;
		}
	}

	admin-rightnav {
		.mat-card.work-progress .mat-list {
			.mat-list-item .mat-list-item-content {
				flex-direction: column;
				align-items: start;
			}
		}

		.mat-card.contact-online .mat-list {
			.mat-list-item .mat-list-item-content {
				width: 100%;
			}
		}
	}

	admin-vendors-form, admin-categories-form, admin-products-form {
		angular-tinymce > .mce-container {
			width: initial !important;
		}
	}

	.header-content .mat-list-item-content {
		height: initial !important;
	}

	.mat-sidenav.mat-sidenav-opened {
		box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
	}
}

app {
	.mat-sidenav-backdrop.mat-sidenav-shown {
		background-color: rgba(30, 30, 30, 0.6);
	}

	.mat-sidenav-container {
		height: 100%;
		background-color: #fff;
	}

	app-partner-panel {
		.slick-arrow {
			display: none;
		}
	}

	app-product {

		.mat-ink-bar {
			display: block;
		}

		.mat-input-infix {
		    border-top: 0px;
    		background: #eee;
		}

		.mat-select span {
			color: #aaa;
		}

		.mat-select-placeholder {
			padding-left: 10px;
		}

		.mat-select-placeholder.mat-floating-placeholder {
			color: #000;
			padding-left: 0px;
		}

		.mat-select-value-text {
			padding-left: 10px;
		}

		.mat-tab-body {
			padding: 10px;
		}

		.mat-tab-labels {
			background-color: #ddd;

			.mat-tab-label-active {
				background-color: #fff;
				opacity: 1;
			}
		}

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button {  
		   opacity: 1;
		}
	}

	app-product-filter-sidebar {
		.mat-button-wrapper {
			width: 100%;
		    justify-content: space-between;
		    display: flex;
		    align-items: center;
		}
	}

	app-product-grid {
		width: 100%;
		padding: 0px 20px;

		.mat-tab-body-wrapper {
			width: 100%;
		}
	}
}

app-left-sidenav, app-menu-mega, admin-leftnav {
	.mat-list .mat-list-item .mat-list-item-content {
		padding: 0px;
		.mat-button-wrapper {
			width: 100%;
			display: flex;
			align-items: center;
			p {
				flex: 1;
				text-align: left;
				margin: 0;
			}
		}
	}
}

.cdk-overlay-pane {
	.mat-menu-panel {
		top: 80px;
		position: fixed;
		margin-left: 200px;
		max-width: initial;
		.mat-menu-content {
			padding: 16px 0px;
			background-color: #efefef;
			div > div > div {
				padding: 0px 16px;
			}
			img {
				width: 35px;
				margin-right: 20px;
				border-radius: 50%;
			}
			.mat-list-item-content {
				padding: 0px;
				height: 30px;
				.mat-button {
					color: rgba(0, 0, 0, 0.87);
					width: 100%;
					text-align: left;
				}
			}
			.mat-toolbar {
				background-color: #ccc;
				color: rgba(0, 0, 0, 0.87);
				min-height: 50px;
				.mat-toolbar-row {
					height: 50px;
				}
			}
		}
	}	
}