<div class="content-wrapper">
	<md-form-field>
		<input mdInput placeholder="Filter Group Name *">
	</md-form-field>

	<md-form-field>
		<input mdInput placeholder="Sort Order">
	</md-form-field>

	<md-table [dataSource]="dataSource">
		<ng-container mdColumnDef="filter_name">
			<md-header-cell *mdHeaderCellDef> Filter Name </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index">
				<input *ngIf="!element.last" class="form-control" [(ngModel)]="filtersList[i].filter_name" placeholder="Filter Name">
			</md-cell>
		</ng-container>
		<ng-container mdColumnDef="sort_order">
			<md-header-cell *mdHeaderCellDef> Sort Order </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index">
				<input *ngIf="!element.last" class="form-control" [(ngModel)]="filtersList[i].sort_order" placeholder="Sort Order">
			</md-cell>
		</ng-container>
		<ng-container mdColumnDef="action">
			<md-header-cell *mdHeaderCellDef [ngStyle]="{'flex': 'none', 'width': '60px'}"> </md-header-cell>
			<md-cell *mdCellDef="let element; let i = index" [ngStyle]="{'flex': 'none', 'width': '60px'}">
				<button md-button type="button" (click)="addRow()" class="action-button" *ngIf="element.last" [ngStyle]="{'background': '#f56b6b'}">
					<md-icon [ngStyle]="{'color': '#fff'}">add_circle</md-icon>
				</button>
				<button md-button type="button" (click)="removeRow(i)" class="action-button" *ngIf="!element.last" [ngStyle]="{'background': '#1e91cf'}">
					<md-icon [ngStyle]="{'color': '#fff'}">remove_circle</md-icon>
				</button>
			</md-cell>
		</ng-container>

		<md-header-row *mdHeaderRowDef="displayedColumns"> </md-header-row>
		<md-row *mdRowDef="let row; columns: displayedColumns;"> </md-row>
	</md-table>
</div>