<div fxLayout="column" [ngStyle]="{'width': '240px'}">
	<md-card *ngFor="let sidebarItem of sidebarItems">
		<md-card-title>
			<button md-button fxLayout="row" fxLayoutAlign="start center" class="full-width" (click)="toggleFilterCard($event)">
				<span> {{ sidebarItem.title }} </span>
				<md-icon class="button-plus">add_circle</md-icon>
				<md-icon class="button-minus">remove_circle</md-icon>
			</button>
		</md-card-title>
		<md-card-content>
			<md-list>
				<md-checkbox *ngFor="let item of sidebarItem.items" [ngStyle]="{'display': 'block'}"> {{ item }} </md-checkbox>
			</md-list>
		</md-card-content>
	</md-card>
	<md-card>
		<md-card-title> 
			<button md-button fxLayout="row" fxLayoutAlign="start center" class="full-width" (click)="toggleFilterCard($event)">
				<span> Colors </span>
				<md-icon class="button-plus">add_circle</md-icon>
				<md-icon class="button-minus">remove_circle</md-icon>
			</button>
		</md-card-title>
		<md-card-content>
			<md-grid-list cols="6" rowHeight="1:1" gutterSize="10">
				<md-grid-tile *ngFor="let color of colors" [ngStyle]="{'background': color}" > <button md-button class="full-size"> </button> </md-grid-tile>
			</md-grid-list>
		</md-card-content>
	</md-card>
</div>