<div fxLayout="row" fxLayoutAlign="center start" [ngStyle]="{'margin-top': '30px'}">
	<img src="assets/img/maintenance_sample.png">
</div>

<div fxLayout="row" [ngStyle]="{'margin-top': '30px', 'justify-content': 'space-evenly'}">
	<a md-button href="/maintenance" [ngStyle]="{'background': '#01afe8', 'text-decoration': 'none', 'color': '#fff'}"> Preview </a>
	<button md-button [ngStyle]="{'border': '1px solid #aaa'}"> Get Support </button>
	<button md-button [ngStyle]="{'background': '#7ac438', 'color': '#fff'}"> More Products </button>
</div>
