<div class="mat-toolbar" fxLayout="row" fxLayoutAlign="start center">
	<div class="brand">
        <a [routerLink]="" class="logo" fxLayout="row" fxLayoutAlign="center center">
            <img src="assets/img/EMHHighQuality.svg" width="180" alt="">
        </a>
    </div>
    <md-card fxLayout="row" fxLayoutAlign="start center">
    	<button md-icon-button class="menu"> <i class="material-icons">menu</i> </button>
    	<md-nav-list class="notify-buttons">
    		<div class="inline">
    			<button md-icon-button> <i class="material-icons">list</i></button>
    			<span class="badge bg-success">8</span>
    		</div>
    		<div class="inline">
    			<button md-icon-button> <i class="material-icons">mail_outline</i> </button>
    			<span class="badge bg-important">4</span>
    		</div>
    		<div class="inline">
    			<button md-icon-button> <i class="material-icons">notifications_none</i> </button>
    			<span class="badge bg-warning">3</span>
    		</div>
    	</md-nav-list>
    </md-card>
</div>