<div class="monthly-stats pink">
    <div class="clearfix">
        <h4 class="pull-left"> January 2013</h4>
        <!-- Nav tabs -->
        <div class="btn-group pull-right stat-tab">
            <a href="#line-chart" class="btn stat-btn active" data-toggle="tab"><i class="fa fa-angle-left"></i></a>
            <a href="#bar-chart" class="btn stat-btn" data-toggle="tab"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="line-chart">
            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-min-spot-color="false" data-max-spot-color="false" data-line-color="#ffffff" data-spot-color="#ffffff" data-fill-color="" data-highlight-line-color="#ffffff" data-highlight-spot-color="#e1b8ff" data-spot-radius="3" data-data="[100,200,459,234,600,800,345,987,675,457,765]">
            </div>
        </div>
        <div class="tab-pane" id="bar-chart">
            <div class="sparkline" data-type="bar" data-resize="true" data-height="75" data-width="90%" data-bar-color="#d4a7f5" data-bar-width="10" data-data="[300,200,500,700,654,987,457,300,876,454,788,300,200,500,700,654,987,457,300,876,454,788]"></div>
        </div>
    </div>
</div>